<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- 동적으로 페이지 제목 설정 -->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- 모바일 브라우저에서 레이아웃을 제어하기 위해 뷰포트 설정 -->
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <link rel="stylesheet" href="/main.css">

</head>
<body>
    <div class="container">
        <section class="search_menu">
            <div class="left">
                <div class="search_bar">

                    <div class="server_location_box">
                        <div class="server_location_select">
                            <div class="select_box">
                                <p id="server_location">ASIA</p>
                                <p class="material-icons" id="expand">expand_less</p>
                            </div>
                            <div class="server_location_btnbox hidden">
                                <p class="server_location_btn">ASIA</p>
                                <p class="server_location_btn">AMERICAS</p>
                                <p class="server_location_btn">EUROPE</p>
                            </div>
                        </div>
                    </div>
                    

                    <label for="" class="input_label"><input type="text" id="game_name"></label>

                    <div id="search_btn">
                        <i class="material-icons" id>search</i>
                    </div>
                </div>
            
                <div class="player_info">
                    <div class="player_icon_box">
                        <img src="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon5314.jpg" alt="" id="player_icon">
                        <p id="player_level">1</p>
                    </div>
                    <div class="player_box">
                        <div class="mini_player_rank">
                            <img src="https://your.gg/images/emblem/Unranked.png" alt="" id="solo_rank_img" >
                            <p id="solo_rank">Unranked I</p>
                            <p id="solo_rank_lp">0LP</p>
                        </div>
                        
                        <div class="name_tag_box">
                            <p id="player_name">ldhpop123</p>
                            <p id="player_tag">#KR1</p>
                        </div>
                        <div class="flag_iso">
                            <img src="https://flagsapi.com/KR/flat/64.png" id="flag">
                            <p id="player_location">KR</p>
                        </div>
                        <div id="reload_btn">
                            <p>전적갱신</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="player_rank">
                    <div class="rank_box">
                        <div class="rank_icon_box">
                            <img src="https://your.gg/images/emblem/Unranked.png" alt="" id="main_solo_rank_img">
                        </div>

                        <div class="rank_info">
                            <p class="main_rank" id="main_rank_solo">Unranked</p>

                            <div class="rank_mode_lp">
                                <p class="rank_mode">Solo</p>
                                <p class="main_lp" id="main_lp_solo">0LP</p>
                            </div>
                        </div>

                        <div class="rank_winrate">
                            <p class="main_wins_losses"><span id="main_wins_count_solo">0</span>승 <span id="main_losses_count_solo">0</span>패</p>
                            <p class="main_winrate">승률 <span id="main_winrate_solo">0</span>%</p>
                        </div>
                    </div>

                    <div class="dlvider"></div>
                    
                    <div class="rank_box">
                        <div class="rank_icon_box">
                            <img src="https://your.gg/images/emblem/Unranked.png" alt="" id="main_flex_rank_img">
                        </div>

                        <div class="rank_info">
                            <p class="main_rank" id="main_rank_flex">Unranked</p>

                            <div class="rank_mode_lp">
                                <p class="rank_mode">Flex</p>
                                <p class="main_lp" id="main_lp_flex">0LP</p>
                            </div>
                        </div>

                        <div class="rank_winrate">
                            <p class="main_wins_losses"><span id="main_wins_count_flex">0</span>승 <span id="main_losses_count_flex">0</span>패</p>
                            <p class="main_winrate">승률 <span id="main_winrate_flex">0</span>%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('error')) {
                alert(new URL(location.href).searchParams.get('error'));
            }
            // URL에 에러 매개변수가 있다면 경고 창을 표시
        }
    </script>
    {% block script %}
    <!-- 추가 스크립트 블록을 위한 자리 표시자 -->
    {% endblock %}
</body>
</html>