* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.hidden {
    opacity: 0;
}

body {
    background-color: rgb(16, 19, 28);
}

/* player search */

.search_menu{
    width: 1100px; height: 270px;
    display: flex;
    margin: 10px auto;
    background-color: rgb(31, 35, 49);
    border-radius: 8px;
}

.search_menu > .left {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.search_menu > .left > .search_bar {
    width: 600px; height: 56px;
    border: none; border-radius: 8px;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    margin: 20px 0 20px 20px;
}

.search_bar > .server_location_box {
    width: 120px; height: 56px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.server_location_box > .server_location_select {
    width: 120px; height: 32px;
    position: relative;
    border-right: 1px solid rgb(174, 173, 173);
}

.server_location_select > .select_box {
    width: 120px; height: 32px;
    padding: 6px 8px 6px 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select_box > #server_location {
    font-size: 15px;
    width: 74px; height: 20px;
    color: rgb(125, 120, 120);
}

.select_box > #expand {
    display: flex;
    align-items: center;
    width: 20px; height: 20px;
    color: rgb(125, 120, 120);
}

.server_location_select > .server_location_btnbox {
    top: 6px;
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 120px;
}

.server_location_btnbox > p {
    width: 120px; height: 28px;
    color: rgb(125, 120, 120);
    padding: 4px 8px;
}

.search_bar > .input_label > #game_name {
    width: 435px; height: 56px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.search_bar  #search_btn {
    width: 44px; height: 56px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    color: rgb(33, 58, 150);
    font-weight: bold;
}

/* player info*/

.left > .player_info {
    width: 550px; height: 160px;
    display: flex;
    align-items: center;
}

.left > .player_icon_box {
    position: relative;
}

.player_icon_box > #player_icon {
    width: 140px; height: 140px;
    border-radius: 6px;
    margin:  20px 20px 0 20px;
}

.player_icon_box > #player_level {
    bottom: 18px; left: 70px;
    width: 36px; height: 20px;
    text-align: center;
    position: relative;
    background-color: rgb(16, 19, 28);
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
}

.player_info > .player_name_and_level {
    height: 76px;
    display: flex;
    flex-direction: column;
}

.player_box > .mini_player_rank{
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.mini_player_rank > #solo_rank_img {
    width: 20px; height: 20px;
    margin: 0 5px 0 0;
}

.mini_player_rank > #solo_rank {
    border-right: 1px solid rgb(130, 139, 149);
}

.mini_player_rank > p {
    padding: 0 5px;
}

.player_box > .name_tag_box {
    display: flex;
}

.name_tag_box > #player_name{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0 4px 0 0;
}

.name_tag_box > #player_tag {
    font-size: 24px;
    color: rgb(125, 120, 120);
}

.player_box > .flag_iso {
    display: flex;
    align-items: center;
}

.flag_iso > #flag {
    width: 20px;
    margin: 0 4px 0 0;
}

.flag_iso > #player_location{
    height: 20px;
    font-size: 16px; 
    color: #fff;
    padding: 2px 0;
}

.player_box > #reload_btn {
    margin-top: 10px;
    width: 130px; height: 45px;
    border: none; border-radius: 8px;
    background-color: rgb(33, 58, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#reload_btn > p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* player rank */

.search_menu > .right {
    width: 440px; height: 230px;
    margin: 20px;
    border-radius: 8px;
}

.right > .player_rank {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.player_rank > .dlvider {
    width: 430px; height: 1px;
    background-color: rgb(130, 135, 153);
}

.player_rank > .rank_box {
    width: 430px; height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rank_box > .rank_icon_box {
    width: 72px; height: 72px;
    border-radius: 72px;
    background-color: #353a47;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rank_icon_box > img {
    width: 65px; height: 65px;
    object-fit: cover;
    margin: 10px 0 0 0;
}

.rank_box > .rank_info {
    width: 220px;
}

.rank_info > .main_rank {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.rank_info > .rank_mode_lp {
    display: flex;
    align-items: center;
}

.rank_mode_lp > .rank_mode {
    color: rgb(33, 58, 150);
    font-size: 16px;
    font-weight: 700;
    margin: 0 20px 0 0;
}

.rank_mode_lp > .main_lp {
    color: rgb(125, 120, 120);
    font-size: 14px;
    margin: 0 20px 0 0;
}

.rank_box > .rank_winrate {
    display: flex;
    flex-direction: column;
}

.rank_winrate > .main_wins_losses {
    color: rgb(125, 120, 120);
    font-size: 16px;
    text-align: right;
}

.rank_winrate > .main_winrate {
    color: rgb(125, 120, 120);
    font-size: 14px;
    text-align: right;
}


/* ----------------------------------------- */

.main {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main > .main_header {
    display: flex;
    align-items: center;
    padding: 12px 18px;
}

.game_mode_select_box > .game_mode_select {
    color: #3254ce;
    background: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 4px 8px 4px 8px;
    margin: 0 8px 0 0;
    cursor: pointer;
}

.game_mode_select_box > .selected {
    color: #fff;
    background-color: #3254ce;
}

.main > .dlvider {
    width: 1100px; height: 1px;
    background-color: #3b55b18f;
}

.main > .main_body {
    width: 1100px; height: 1000px;
    margin: 10px auto;
    display: flex;
}

/* main left*/

.main_body > .left {
    width: 380px;
    margin: 10px 20px 0 0;
}

.left .champion_mastery_box {
    width: 380px;
    border: 1px solid rgb(32 42 72);
    border-radius: 8px;
    padding: 16px;
    margin: 0 0 16px 0;
}

.champion_mastery_box > .header_text {
    padding: 8px 0 16px 0;
    color: #c1c5ca;
    border-bottom: 1px solid rgb(79 87 112);
    font-weight: 700;
}

.champion_mastery_box > .champions {
    display: flex;
    justify-content: space-around;
    padding: 16px 0 0 0;
}

.champions > .champion {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.champions .champion_icon_box {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 4px 0;
}

.champion_icon_box > img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.champion > #mastery_icon {
    width: 40px;
}

.champion > .mastery_level {
    color: #dadfe7;
    font-size: 12px;
    background-color: #353a47;
    padding: 0 8px;
    border-radius: 8px;
    position: relative;
    bottom: 6px;
    margin: 0 0 4px 0;
}

.champion > .name {
    color: #dadfe7;
    font-weight: 400;
}

.champion > .dlvider {
    width: 40px; height: 1px;
    background-color: #828799;
    margin: 8px 0;
}

.champion > .point {
    color: #828799;
    margin: 0 0 2px 0;
    font-size: 12px;
}

.left .line_box {
    width: 380px;
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid rgb(29 32 40) ;
    margin: 0 0 20px 0;
}

.line_box .line_info {
    width: 120px; height: 100%;

    text-align: center;
    margin: 0 0 20px;
}

.line_info > p {
    width: 100%;
    color: rgb(130, 135, 153);
    margin: 0 0 4px 0;
    font-weight: 400;
}

.line_info > img {
    width: 30px; height: 30px;
}

.line_box .line_info_first {
    padding: 34px 0 0 0;
}

.line_info_first > p {
    color: #dadfe7;
    font-size: 16px;
    margin: 2px 0 6px 0;
    font-size: 14px;
}

.left .friend_box {
    width: 380px;
    margin: 0 0 20px 0;
}

.friend_box > P {
    color: #828799;
    font-size: 14px;
    padding: 0 8px;
    margin: 0 0 20px 0;
}

.friend_box .friend_info {
    display: flex;
    padding: 0 8px;
    justify-content: space-around;
    margin: 0 0 8px 0;
}

.friend_info > p {
    color: #828799;
    font-size: 12px;
}

.friend_info > .friend_info_first {
    width: 170px;
}

.friends > .friend {
    display: flex;
    padding: 16px 8px;
    justify-content: space-around;
}

.friend > p {
    color: #dadfe7;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
}

.friend > p:nth-child(1) {
    width: 170px;
    text-align: left;
    color: #dadfe7;
    font-weight: 900;
}

.friend > p:nth-child(2) {
    width: 24px;
}

.friend > p:nth-child(3) {
    width: 36px;
}

.friend > p:nth-child(4) {
    width: 55px;
}

.friend > .green_font {
    color: #00a676;
}

.friends > div:nth-of-type(odd) {
    background-color: rgb(23 27 47);
}

.friends > div:nth-of-type(even) {
    background-color: rgb(18 21 37);
}

.friends> div:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.friends > div:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* main right*/

.main_body > .right {
    width: 700px;
    margin: 10px 0 0 0;
}

.right .winrate {
    width: 100%;
    background-color: rgb(31, 35, 49);
    border-radius: 8px;
    margin: 0 0 10px 0 ;
    padding: 16px;
    display: flex;
}

.winrate > .rate_box {
    width: 240px;
    background-color: rgb(16, 19, 28);
    border-radius: 8px;
    padding: 8px 8px 16px 8px;
    margin: 0 16px 0 0;
}

.rate_box .history {
    font-size: 18px;
    color: #3d89ff;
    text-align: center;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.rate_box > .bottom {
    display: flex;
    justify-content: center;
}

.rate_box .donut {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.donut .center {
    width: 75%;
    height: 75%;
    background-color: rgb(16, 19, 28);
    border-radius: 50%;
    display: block;
    margin: auto;
    color: #fff;
    line-height: 37.5px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.kda_history > .kda_rate {
    width: 120px;
    color: #dadfe7;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 4px 0 0 0;
}

.kda_history > .k_d_a_rate {
    width: 120px;
    color: #828799;
    font-size: 16px;
    text-align: center;
}

.winrate > .most_champion_box {
    width: 410px;
}

.most_champion_box > p {
    font-size: 14px;
    color: #828799;
    margin: 6px 0 10px 0 ;
}

.most_champion_box .most_champions {
    display: flex;
    justify-content: space-between;
}

.most_champion_box .most_champion {
    display: flex;
}

.most_champion .champion_icon_box {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px 0 0;
}

.champion_icon_box > img {
    width: 79px;
    height: 79px;
    object-fit: cover;
}

.most_champion .most_info {
    display: flex;
    flex-direction: column;

}

.most_champion p {
    font-size: 11px;
    margin: 0 0 4px 0;
    color: #828799;
    font-weight: 700;
}

.most_champion .most_winrate {
    font-size: 17px;
    margin: 0 0 4px 0;
    font-weight: 700;
}

.most_champion .most_blue {
    color: #0b89cf;
}

.most_champion .most_red {
    color: #e34646;
}

.most_champion .most_white {
    color: #dadfe7;
}

/* games */

.right > .games {
    width: 700px;
    margin: 0 0 100px 0;
}

.games .flex {
    display: flex;
}

.games .top {
    display: flex;
}

.games .game {
    display: flex;
    flex-direction: column;
}

.game .game_info {
    margin: 0 15px 0 0;
}

.game #game_mode {
    font-size: 12px;
    padding: 4px 0;
}

.game #game_date {
    font-size: 12px;
    color: rgb(229, 231, 235);
}

.game #game_result {
    font-size: 12px;
    color: rgb(130, 135, 153);
}

.game #game_time {
    font-size: 12px;
    padding: 4px 0;
    color: rgb(130, 135, 153);
}

.game .dlvider {
    width: 48px; height: 1px;
    margin: 8px 0;
    background-color: rgb(130, 135, 153);
}

/* champion_info */

.game .champion_info {
    width: 220px;
}

.champion_info > .top {
    display: flex;
    margin: 2px 0 0 0 ;
}

.top > .champion_icon_level_box {
    margin-right: 8px;
    overflow: hidden;
}

.champion_icon_level_box > .champion_icon_box {
    width:56px;
    height:56px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
}

.champion_icon_box > #champion_icon {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.champion_icon_level_box > #champion_level {
    width: 20px; height: 16px;
    position: relative;
    background-color: #000000cf;
    color: #fff;
    bottom: 16px; left: 36px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 10px;
    text-align: center;
}

.top > .spell_info {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
}

.spell_info > .spell {
    width: 27px; height: 27px;
    margin: 0 0 2px 0;
    border-radius: 8px;
}

.top > .rune_info {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.rune_info > .rune_background {
    width: 27px; height: 27px;
    margin: 0 0 2px 0;
    border-radius: 27px;
    background-color: rgb(35, 39, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rune_background > .rune {
    width: 24px; height: 24px;
    border-radius: 8px;
}

.top > .kda_info {
    display: flex;
    flex-direction: column;
    padding: 8px 0; 
    margin: 0 0 0 13px;
}

.kda_info > .kda {
    font-size: 15px;
    font-weight: 700;
    color: rgb(229, 231, 235);
}

.kda_info > .kda_score {
    font-size: 14px;
    margin: 6px auto;
    color: rgb(130, 135, 153);
}

/* champion_info_bottom */

.champion_info > .bottom {
    display: flex;
}

.bottom > .items_info{
    display: flex;
    margin: -8px 0 0 0;
}

.items_info > .item {
    width: 26px; height: 26px;
    background-color: #4f5770;
    margin: 0 4px 0 0;
    border-radius: 8px;
}

.item > img {
    width: 26px; height: 26px;
    border-radius: 8px;
}

/* game_info */

.game .game_info {
    width: 55px;
}

.game .verticalline {
    width: 1px; height: 100%;
    background-color: rgba(130, 135, 153, 0.158);
    margin: 0 15px;
}

.game .main_game_info {
    padding: 0 30px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game_score  p {
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.game_score span {
    font-size: 10px;
    color: #828799;
}

/* player_10 */

.game .player_10 {
    display: flex;
    width: 200px;
    justify-content: space-between;
}


.player_10 .team {
    display: flex;
    flex-direction: column;
}

.team .player {
    display: flex;
    margin: 0 0 4px 0;
}

.player_10 .champion_icon_box {
    width: 16px;
    height: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    margin: 0 4px 0 0;
}

.player_10 .red_icon {
    margin: 0 0 0 4px;
}

.player_10 .champion_icon_box > #champion_icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.player_10  .player_name {
    font-size: 10px;
    color: #828799;
}

.red_team .player_10_name {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.player_10 .target_bold {
    color: #dadfe7;
}

.player_10 > .red_team > .player {
    display: flex;
    justify-content: end;
}

.player_10 .target_bold {
    font-weight: 700;
}

.progress-bar {
    width: 76px;
    height: 1px;
}

.red_team .progress-bar {
    display: flex;
    justify-content: right;
}

.progress-bar .blue_bar {
    height: 1px;
    padding: 0;
    background-color: #0b89cf;
}

.progress-bar .red_bar {
    height: 1px;
    padding: 0;
    background-color: #e34646;
}

.game .multi_kill {
    text-align: center;
}

.multi_kill > p {
    display: inline-block;
    padding: 2px 6px;
    margin: 4px 0;
    font-size: 10px;
    background-color: #eb5757;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
}

.advanced_info {
    width: 100%;
}

/* btn */

.game .advanced_info_btn {
    width: 32px; height: 120px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.advanced_info_btn > p {
    color: #828799;
}

/* win & loss*/

.games .win_game {
    width: 100%; height: 120px;
    border-left: 5px solid rgb(33, 58, 150);
    background-color: rgba(33, 58, 150, 0.15);
    margin-top: 10px;
    padding: 12px 16px;
}

.win_game #game_mode {
    color: rgb(11, 137, 207);
    padding: 4px 0;
}

.games .win_info_btn {
    background-color: #213a964d;
}

.games .loss_game {
    width: 100%; height: 120px;
    border-left: 5px solid rgb(227, 70, 70);
    background-color: rgba(227, 70, 70, 0.15);
    margin-top: 10px;
    padding: 12px 16px;
}

.loss_game #game_mode {
    color: rgb(227, 70, 70);
    padding: 4px 0;
}

.games .loss_info_btn {
    background-color: #e346464d;
}

/* .games .bottom {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: rgb(31 35 49);
}

.bottom > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 
}

.header .team_score_box {
    display: flex;
}

.team_score_box > div {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.blue_score p {
    color: #219CE0;
}

.header .red_score {
    display: flex;
    flex-direction: row-reverse;
}

.team_score_box > div > svg {
    margin: 0 2px 0 0;
}

.red_score p {
    color: #EB5757;
}

.bottom .total_bar_chart {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.total_bar_chart > .total_kill_box {
    width: 100%; height: 16px;
    margin: 0 0 4px 0;
}


.total_bar_chart > .total_gold_box {
    width: 100%; height: 16px;
}

.total_bar_chart .bar {
    display: flex;
    padding: 0 4px;
    justify-content: space-between;
    border-radius: 4px;
}

.total_bar_chart p {
    color: #dadfe7;
    font-size: 12px;
}

.bottom .team_box {
    display: flex;
    flex-direction: column;
}

.team_box > .header {
    display: flex;
    justify-content: space-around;
}

.team_box > .header p {
    color: #dadfe7;
} */